.default-template {
  position: relative;
  height: 100vh;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  &__wrap {
    margin-top: 60px;
  }
  
  &__content {
    margin-left: 300px;
  }
}