.controls {
  display: flex;
  align-items: center;
  background: rgba(0,0,0, .8);

  &__play {
    padding: $fold-size;
  }

  &__progress {
    height: $medium;
  }

  &__maximize {
    padding: $fold-size;
  }
}
