.menu {
  display: block;
  width: 100%;
  background: var(--main-bg-color);
  &__cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    width: 100%;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 200px 200px 200px 200px;
      grid-template-rows: 200px 200px 200px 200px;
    }
    @media screen and (max-width: 830px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
