.avatar {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  &--tiny {
    width: $tiny;
    height:$tiny;
  }

  &--small {
    width: $small;
    height: $small;
  }

  &--medium {
    width: $medium;
    height: $medium;
  }

  &--large {
    width: $large;
    height: $large;
  }

  &--extra-large {
    width: $extra-large;
    height: $extra-large;
  }

  &__image {
    width: 100%;
  }
}
