.progress {
  width: 100%;
  &--line {
    .progress__bar {
      height: $fold-size;
    }
  }

  &--full {
    .progress__bar {
      height: 100%;
    }
  }

  &__bar {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .2);
    cursor: pointer;
    transition: .2s;
  }

  &__line {
    background: $bpink;
    height: 100%;
  }
}
