//colors
$main: #959fbb;
$dark: #434f74;
$white: #fff;
$bpink: #fa2276;
$dpink: #f24f86;
$blue: #6a93ff;


//news
$red: #FE0000;
$ligthBlue: #4c8df6;
$blue: #1c62c4;
$darkBlue: #195cba;
$grey: #656f80;
$ligthBlack: #171c22;
$black: #000;

$bg-color: null !default;
$font-color: null !default;

// common
$main-box-shadow: 0px 1px 4px rgba(0,0,0,0.11);
$width-sidebar: 282px;

.theme {
  &--ligth {
    --main-bg-color: #ffffff;
    --main-text-color: #171c22;
    --main-box-shadow: 0px 1px 4px rgba(0,0,0,0.11);
  }
  &--dark {
    --main-bg-color: #171c22;
    --main-text-color: #ffffff;
    --main-box-shadow: 0px 1px 4px rgba(255,255,255,0.11);
  }
}

// fonts
$ff: 'HelveticaNeueCyr';

// offset/padding/marign

$fold-size: 3px;

// animation 
$animation: .4s ease;