.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--main-bg-color);

  &--default {
    max-width: 1000px;
  }

  &--fluid {
    max-width: 100%;
  }
}
