.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $fold-size;
  padding: $fold-size * 3 $fold-size * 5;
  color:  #ffffff;
  font-size: $fold-size * 5;
  font-weight: 500;

  &--pink {
    background: $bpink;
  }
}