.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

  &--pink {
    max-width: 120px;
    border-radius: $fold-size;
    padding: $fold-size * 3 $fold-size * 5;
    color:  #ffffff;
    font-size: $fold-size * 5;
    font-weight: 500;
    background: $bpink;
  }
}
