.about-channel {

  &__title {
    font-family: $ff;
    font-size: 22px;
    margin-bottom: 40px;
  }
  
  &__content-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  &__stats-list {
    list-style: none;
    font-size: 16px;
    line-height: 22px;

    li {
      padding-bottom: 12px;
    }
  }
}