#watch {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;

  &__controls {
    display: flex;
    align-items: center;
    background: rgba(0,0,0, .8);
  }

  &__play {
    padding: $fold-size;
  }

  &__progress {
    height: $medium;
    margin-top: -$fold-size;
    margin-bottom: -$fold-size;
  }
}
