.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-left: 45px;
  padding-right: 45px;

  background-color:  #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);

  z-index: 9999;

  &__icon-menu {
    margin-right: 25px;
  }

  &__search {
    margin-left: 40px;
    margin-right: auto;
  }

  &__icon-upload {
    margin-left: auto;
    margin-right: 65px;
  }

  &__notification {
    margin-right: 40px;
  }

  @media screen and (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;

    &__search {
      margin-left: auto;
      margin-right: 0;
      padding-bottom: 4px;
    }

    &__notification {
      margin-right: 16px;
    }
  }
}