.progress {
  &__bar {
    position: absolute;
    bottom: 100%;
    left: 0;
    height: $fold-size;
    width: 100%;
    background: $main;
    cursor: pointer;
    transition: .2s;
  }

  &__line {
    background: $bpink;
    height: 100%;
  }
}