.category {
  &__content {
    display: flex;
    flex-wrap: wrap;

    margin-left: -7px;
    margin-right: -7px;
    @media screen and (max-width: 540px) {
      justify-content: center;
    }
  }

  &__not-found {
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 40px;
    color: $bpink;
  }
}