.icon {
  display: block;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }

  &--tiny {
    width: $tiny;
    height: $tiny;
  }

  &--small {
    width: $small;
    height: $small;
  }

  &--medium {
    width: $medium;
    height: $medium;
  }

  &--large {
    width: $large;
    height: $large;
  }

  &--extra-large {
    width: $extra-large;
    height: $extra-large;
  }

}
